@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content {
    border: 12px solid #FEC242;
    margin: auto;
    margin-top: 150px;
    padding: 30px;
    width: 390px;
    position: relative;
}

.reset-button {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    background: #FEC242;
    border: none;
    float: right;
    margin-bottom: 28px;
    /* margin-right: 35px; */
    border-radius: 5px;
    font-size: 1em;
    color: #4c4949;
    width: 90px;
    height: 41px;
    cursor: pointer;
}

img {
    width: 300px;
    display: block;
   
}

h1 {
    margin: 25px 0;
    text-align: center;
}

.label {
    display: block;
    margin: 25px;
    text-align: center;
    color: #393838fa;
}

input {
    margin-left: 5px;
    border: none;
    border-bottom: 1px solid #4c4949;
    width: 50px;
    outline: none;
}

.content-button {
    margin-right: 128px;
    margin-top: 50px;
    text-align: center;
}

.calculate-button {
    color: #4c4949;
    font-weight: 700;
    border: none;
    padding: 8px;
    height: 53px;
    font-size: 1.6em;
    border-radius: 5px;margin-right: 20px;
    bottom: -5.6%;
    background: #FEC242;
    position: absolute;
    cursor: pointer;
}